In [43]:
import pandas as pd
import glob
import os
import pathlib
import logging
import urllib.parse as parse

In [23]:
path = "all_csv_data//"
all_files = glob.glob(os.path.join(path, "*.csv"))

all_df = []
for f in all_files:
    # try:
    #     df = pd.read_csv(f, sep=',')
    # except:
    #     print(f)
    #     df = pd.read_csv(f, sep=',', error_bad_lines=False, warn_bad_lines=True)
    # 19 and 20 have some wrong rows
    df = pd.read_csv(f, sep=',', on_bad_lines="skip")
    df['file'] = f.split('\\')[-1]
    all_df.append(df)
    
merged_df = pd.concat(all_df, ignore_index=True, sort=False)

In [24]:
merged_df['file']

0       D1 (1).csv
1       D1 (1).csv
2       D1 (1).csv
3       D1 (1).csv
4       D1 (1).csv
           ...
5988    D1 (9).csv
5989    D1 (9).csv
5990    D1 (9).csv
5991    D1 (9).csv
5992    D1 (9).csv
Name: file, Length: 5993, dtype: object

In [25]:
merged_df.dropna(subset=[])     # specifie necessary columns

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,SOH,SOD,SOA
0,D1,13/08/2021,19:30,M'gladbach,Bayern Munich,1.0,1.0,D,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,14/08/2021,14:30,Augsburg,Hoffenheim,0.0,4.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,14/08/2021,14:30,Bielefeld,Freiburg,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,14/08/2021,14:30,Stuttgart,Greuther Furth,5.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,14/08/2021,14:30,Union Berlin,Leverkusen,1.0,1.0,D,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5988,D1,10/05/14,NaN,Hoffenheim,Braunschweig,3.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5989,D1,10/05/14,NaN,Leverkusen,Werder Bremen,2.0,1.0,H,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5990,D1,10/05/14,NaN,Mainz,Hamburg,3.0,2.0,H,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5991,D1,10/05/14,NaN,Schalke 04,Nurnberg,4.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5992,D1,10/05/14,NaN,Wolfsburg,M'gladbach,3.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
merged_df.dropna(axis=1, how="all")

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,GBAHH,GBAHA,GBAH,LBAHH,LBAHA,LBAH,B365AH,SOH,SOD,SOA
0,D1,13/08/2021,19:30,M'gladbach,Bayern Munich,1.0,1.0,D,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D1,14/08/2021,14:30,Augsburg,Hoffenheim,0.0,4.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,D1,14/08/2021,14:30,Bielefeld,Freiburg,0.0,0.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D1,14/08/2021,14:30,Stuttgart,Greuther Furth,5.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,D1,14/08/2021,14:30,Union Berlin,Leverkusen,1.0,1.0,D,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5988,D1,10/05/14,NaN,Hoffenheim,Braunschweig,3.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5989,D1,10/05/14,NaN,Leverkusen,Werder Bremen,2.0,1.0,H,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5990,D1,10/05/14,NaN,Mainz,Hamburg,3.0,2.0,H,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5991,D1,10/05/14,NaN,Schalke 04,Nurnberg,4.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5992,D1,10/05/14,NaN,Wolfsburg,M'gladbach,3.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
merged_df.to_csv("cumulated_data_bl1.csv")

In [42]:
set(merged_df['HomeTeam'].values) == set (merged_df['AwayTeam'].values)
set (merged_df['AwayTeam'].values)

{'Aachen',
 'Augsburg',
 'Bayern Munich',
 'Bielefeld',
 'Bochum',
 'Braunschweig',
 'Cottbus',
 'Darmstadt',
 'Dortmund',
 'Duisburg',
 'Ein Frankfurt',
 'FC Koln',
 'Fortuna Dusseldorf',
 'Freiburg',
 'Greuther Furth',
 'Hamburg',
 'Hannover',
 'Hansa Rostock',
 'Hertha',
 'Hoffenheim',
 'Ingolstadt',
 'Kaiserslautern',
 'Karlsruhe',
 'Leverkusen',
 "M'gladbach",
 'Mainz',
 'Munich 1860',
 'Nurnberg',
 'Paderborn',
 'RB Leipzig',
 'Schalke 04',
 'St Pauli',
 'Stuttgart',
 'Union Berlin',
 'Werder Bremen',
 'Wolfsburg',
 nan}

In [1]:
for i in set(merged_df['AwayTeam'].values):
    club = str(i).split()[-1]
    club = parse.quote(club)
    path = f'http://api.clubelo.com/{club}'
    print(path)
    try:
        df = pd.read_csv(path)
    except:
        logging.warning(f"Invalid URL for club {i}")
    if df.empty:
        logging.warning(f"Can't find elo for club {i}")
    else:
        df.to_csv(f"club_elo_historical//{i}.csv")

NameError: name 'merged_df' is not defined