In [ ]:
import pandas as pd
import numpy as np
import re

In [198]:
bundesliga_21_22_df = pd.read_csv(r"all_csv_data\D1 (16).csv")
bundesliga_21_22_df.head()
season = "06"

In [199]:
# calculates home many games a has already played until the matchday in a season
# can be differed between home and away games and between the teams

games_played_this_season_ht_home = []
games_played_this_season_ht_away = []
games_played_this_season_at_home = []
games_played_this_season_at_away = []

for index, rows in bundesliga_21_22_df.iterrows():
    home_team_temp = rows.HomeTeam
    away_team_temp = rows.AwayTeam
    games_played_all_teams_home = bundesliga_21_22_df.iloc[:index].HomeTeam.value_counts()
    games_played_all_teams_away = bundesliga_21_22_df.iloc[:index].AwayTeam.value_counts()
    games_played_this_season_ht_home.append(0 if home_team_temp not in games_played_all_teams_home else games_played_all_teams_home[home_team_temp])
    games_played_this_season_ht_away.append(0 if home_team_temp not in games_played_all_teams_away else games_played_all_teams_away[home_team_temp])
    games_played_this_season_at_home.append(0 if away_team_temp not in games_played_all_teams_home else games_played_all_teams_home[away_team_temp])
    games_played_this_season_at_away.append(0 if away_team_temp not in games_played_all_teams_away else games_played_all_teams_away[away_team_temp])

bundesliga_21_22_df.loc[:,"GPHTH"] = games_played_this_season_ht_home
bundesliga_21_22_df.loc[:,"GPHTA"] = games_played_this_season_ht_away
bundesliga_21_22_df.loc[:,"GPATH"] = games_played_this_season_at_home
bundesliga_21_22_df.loc[:,"GPATA"] = games_played_this_season_at_away

# calculate total games played
bundesliga_21_22_df.loc[:,"GPHT"] = bundesliga_21_22_df.loc[:,"GPHTH"] + bundesliga_21_22_df.loc[:,"GPHTA"]
bundesliga_21_22_df.loc[:,"GPAT"] = bundesliga_21_22_df.loc[:,"GPATH"] + bundesliga_21_22_df.loc[:,"GPATA"]
bundesliga_21_22_df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,GPHTH,GPHTA,GPATH,GPATA,GPHT,GPAT
0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,0,H,...,2.17,2.07,1.82,1.77,0,0,0,0,0,0
1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,1,A,...,2.02,1.99,1.95,1.88,0,0,0,0,0,0
2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,0,H,...,1.80,1.77,2.17,2.08,0,0,0,0,0,0
3,D1,12/08/06,Mainz,Bochum,2,1,H,1,0,H,...,1.85,1.81,2.10,2.06,0,0,0,0,0,0
4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,0,D,...,2.16,2.09,1.83,1.77,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D1,19/05/07,Leverkusen,Dortmund,2,1,H,1,0,H,...,2.19,2.10,1.83,1.78,16,17,17,16,33,33
302,D1,19/05/07,M'gladbach,Bochum,0,2,A,0,1,A,...,1.96,1.89,2.02,1.91,16,17,17,16,33,33
303,D1,19/05/07,Schalke 04,Bielefeld,2,1,H,2,0,H,...,2.03,1.99,1.93,1.89,16,17,17,16,33,33
304,D1,19/05/07,Stuttgart,Cottbus,2,1,H,1,1,D,...,1.84,1.80,2.12,2.08,16,17,17,16,33,33
305,D1,19/05/07,Wolfsburg,Werder Bremen,0,2,A,0,0,D,...,1.92,1.88,2.01,1.97,16,17,17,16,33,33

In [200]:
# calculate how many points a team has gained out of the last 3, 5 and 10 matches:
list_number_of_matches = [3, 5, 10, 34]
last_match_points = []

for index, rows in bundesliga_21_22_df.iterrows():
    last_match_points_temp = []
    for i in list_number_of_matches:
        home_team_temp = rows.HomeTeam
        away_team_temp = rows.AwayTeam
        teams_points_temp = []
        for team in [home_team_temp, away_team_temp]:
            if rows.GPHT >= i or i == 34:
                df_last_games_ht = bundesliga_21_22_df[(bundesliga_21_22_df.GPHT < rows.GPHT)]
                if i != 34:
                    df_last_games_ht = df_last_games_ht[(df_last_games_ht.GPHT >= rows.GPHT - i)]
                # calculate all points at home
                df_last_games_specific_ht = df_last_games_ht[(df_last_games_ht.HomeTeam==team)].FTR.value_counts()
                points = 0
                if 'H' in df_last_games_specific_ht:
                    points += 3 * df_last_games_specific_ht['H']
                if 'D' in df_last_games_specific_ht:
                    points += df_last_games_specific_ht['D']
                # calculate all points away
                df_last_games_specific_ht = df_last_games_ht[(df_last_games_ht.AwayTeam==team)].FTR.value_counts()
                if 'A' in df_last_games_specific_ht:
                    points += 3 * df_last_games_specific_ht['A']
                if 'D' in df_last_games_specific_ht:
                    points += df_last_games_specific_ht['D']
                teams_points_temp.append(points)
            else:
                teams_points_temp = [None, None]
        last_match_points_temp.extend(teams_points_temp)
    last_match_points.append(last_match_points_temp)
last_match_points

[[None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 3, 3],
 [None, None, None, None, None, None, 0, 1],
 [None, None, None, None, None, None, 0, 1],
 [None, None, None, None, None, None, 0, 3],
 [None, None, None, None, None, None, 1, 1],
 [None, None, None, None, None, None, 1, 0],
 [None, None, None, None, None, None, 3, 3],
 [None, None, None, None, None, None, 1, 0],
 [None, None, None, None, None, None, 0, 3],
 [None, None, None, None, None, None, 4, 6],
 [None, None, None, None, None, None, 6, 6],
 [None, None, None, None, None, None, 0, 1],
 [None, None, None, None, None, None, 0, 0],
 [None, None, None, None, None, None, 3, 2],
 [None, None, None, None, None, None, 3, 1],
 [None, None, None, None, None, None, 3, 1],
 [None, None, None, None, None, None, 2, 4],
 [None, None, None, None, None, None, 4, 2],
 [3, 0, None, None, None, None, 3, 0],
 [3, 6, None, None, None, None, 3, 6],
 [1, 7, None, None, None, None, 1, 7],
 [4, 5, None, None, None, None, 4, 5],
 [4, 3, None, None, None, None, 4, 3],
 [7, 0, None, None, None, None, 7, 0],
 [6, 3, None, None, None, None, 6, 3],
 [3, 4, None, None, None, None, 3, 4],
 [5, 7, None, None, None, None, 5, 7],
 [3, 7, None, None, None, None, 6, 7],
 [4, 6, None, None, None, None, 7, 6],
 [2, 3, None, None, None, None, 3, 6],
 [3, 1, None, None, None, None, 3, 4],
 [2, 7, None, None, None, None, 5, 8],
 [6, 2, None, None, None, None, 7, 3],
 [6, 5, None, None, None, None, 6, 6],
 [1, 3, None, None, None, None, 1, 4],
 [7, 5, None, None, None, None, 7, 8],
 [6, 4, 7, 4, None, None, 7, 4],
 [6, 4, 6, 4, None, None, 6, 4],
 [3, 7, 4, 8, None, None, 4, 8],
 [5, 2, 7, 4, None, None, 7, 4],
 [3, 2, 9, 6, None, None, 9, 6],
 [1, 6, 7, 9, None, None, 7, 9],
 [1, 4, 3, 10, None, None, 3, 10],
 [5, 4, 9, 7, None, None, 9, 7],
 [2, 6, 5, 10, None, None, 5, 10],
 [2, 6, 4, 9, None, None, 7, 9],
 [3, 5, 7, 9, None, None, 10, 10],
 [4, 4, 4, 7, None, None, 4, 10],
 [2, 3, 4, 9, None, None, 5, 10],
 [5, 5, 5, 7, None, None, 5, 8],
 [3, 3, 6, 5, None, None, 9, 6],
 [5, 4, 8, 5, None, None, 8, 8],
 [4, 4, 8, 8, None, None, 8, 8],
 [3, 6, 7, 6, None, None, 10, 7],
 [4, 3, 10, 4, None, None, 11, 4],
 [6, 1, 12, 7, None, None, 12, 8],
 [4, 2, 7, 3, None, None, 8, 7],
 [2, 6, 6, 9, None, None, 10, 12],
 [6, 3, 9, 6, None, None, 13, 6],
 [7, 6, 7, 7, None, None, 13, 13],
 [3, 5, 4, 8, None, None, 6, 11],
 [3, 3, 7, 5, None, None, 9, 11],
 [4, 2, 5, 3, None, None, 8, 5],
 [1, 9, 2, 10, None, None, 7, 16],
 [3, 3, 6, 7, None, None, 13, 10],
 [1, 4, 5, 4, None, None, 5, 7],
 [3, 4, 7, 8, None, None, 11, 13],
 [4, 2, 5, 6, None, None, 8, 6],
 [3, 3, 6, 4, None, None, 12, 8],
 [3, 5, 5, 8, None, None, 12, 12],
 [7, 6, 10, 9, None, None, 11, 12],
 [5, 6, 9, 9, None, None, 12, 16],
 [2, 1, 4, 4, None, None, 7, 5],
 [3, 7, 6, 9, None, None, 12, 15],
 [5, 7, 6, 10, None, None, 13, 14],
 [3, 3, 5, 5, None, None, 13, 13],
 [3, 0, 7, 2, None, None, 11, 7],
 [9, 6, 13, 7, None, None, 19, 14],
 [4, 4, 7, 6, None, None, 10, 9],
 [2, 3, 4, 6, None, None, 10, 12],
 [6, 6, 9, 9, None, None, 16, 16],
 [3, 0, 7, 6, 14, 12, 14, 12],
 [1, 7, 2, 10, 8, 13, 8, 13],
 [2, 7, 4, 13, 13, 20, 13, 20],
 [7, 4, 11, 5, 18, 9, 18, 9],
 [4, 1, 7, 3, 17, 7, 17, 7],
 [7, 6, 11, 7, 15, 16, 15, 16],
 [4, 4, 4, 7, 8, 12, 8, 12],
 [7, 4, 7, 6, 15, 13, 15, 13],
 [0, 4, 3, 7, 12, 17, 12, 17],
 [7, 3, 13, 7, 20, 15, 23, 15],
 [6, 5, 8, 9, 15, 15, 16, 16],
 [1, 0, 4, 3, 8, 9, 9, 12],
 [4, 3, 7, 4, 16, 8, 17, 8],
 [7, 4, 7, 7, 12, 14, 15, 17],
 [4, 1, 10, 1, 19, 5, 20, 8],
 [9, 4, 10, 7, 15, 15, 16, 15],
 [1, 1, 4, 3, 13, 10, 13, 13],
 [4, 9, 5, 13, 10, 21, 10, 21],
 [4, 6, 5, 7, 9, 14, 9, 16],
 [2, 4, 2, 10, 14, 17, 14, 23],
 [4, 9, 7, 13, 14, 21, 20, 24],
 [2, 7, 8, 10, 15, 19, 16, 23],
 [5, 5, 7, 8, 17, 14, 18, 18],
 [1, 1, 1, 5, 4, 8, 8, 10],
 [1, 4, 3, 7, 8, 12, 14, 15],
 [5, 7, 11, 11, 18, 15, 19, 17],
 [1, 3, 1, 4, 10, 10, 13, 10],
 [9, 4, 10, 7, 19, 12, 26, 12],
 [3, 4, 6, 6, 13, 14, 16, 18],
 [2, 6, 3, 10, 8, 16, 11, 23],
 [6, 1, 7, 2, 13, 4, 13, 9],
 [5, 3, 8, 3, 16, 12, 21, 15],
 [4, 5, 8, 9, 18, 19, 24, 20],
 [5, 4, 11, 5, 15, 10, 18, 17],
 [3, 1, 7, 5, 11, 12, 15, 16],
 [6, 1, 12, 1, 21, 7, 24, 13],
 [1, 6, 2, 12, 4, 21, 9, 27],
 [9, 1, 10, 1, 19, 7, 26, 13],
 [4, 3, 6, 7, 16, 14, 20, 18],
 [4, 2, 7, 2, 11, 8, 12, 11],
 [1, 6, 2, 9, 9, 13, 16, 16],
 [4, 3, 6, 9, 12, 16, 19, 19],
 [4, 7, 8, 11, 21, 16, 27, 24],
 [2, 1, 3, 7, 9, 11, 15, 17],
 [5, 9, 5, 13, 10, 22, 18, 29],
 [4, 6, 7, 8, 14, 15, 19, 24],
 [7, 0, 10, 1, 17, 8, 27, 16],
 [4, 7, 7, 10, 13, 23, 20, 30],
 [1, 5, 2, 6, 7, 10, 11, 19],
 [9, 2, 12, 6, 15, 17, 19, 21],
 [1, 2, 2, 2, 5, 4, 14, 10],
 [4, 6, 10, 7, 21, 11, 28, 15],
 [7, 4, 13, 8, 20, 15, 30, 22],
 [2, 1, 6, 3, 16, 9, 19, 15],
 [3, 2, 7, 3, 11, 6, 15, 15],
 [3, 1, 5, 3, 9, 7, 18, 12],
 [2, 7, 6, 13, 15, 23, 22, 33],
 [0, 7, 1, 10, 8, 23, 16, 31],
 [3, 4, 7, 4, 14, 12, 24, 20],
 [2, 7, 3, 13, 4, 20, 11, 30],
 [3, 7, 7, 10, 10, 15, 20, 20],
 [4, 7, 7, 7, 14, 14, 22, 22],
 [9, 1, 10, 3, 23, 13, 33, 19],
 [3, 7, 4, 13, 11, 20, 22, 33],
 [2, 2, 3, 3, 14, 8, 22, 13],
 [6, 2, 9, 3, 14, 4, 18, 11],
 [1, 2, 1, 2, 9, 3, 17, 15],
 [3, 7, 4, 13, 11, 23, 20, 36],
 [3, 0, 9, 2, 17, 13, 27, 19],
 [5, 5, 9, 8, 12, 21, 23, 32],
 [4, 7, 5, 10, 7, 17, 19, 25],
 [9, 4, 13, 10, 23, 14, 36, 20],
 [6, 3, 10, 6, 20, 13, 33, 18],
 [1, 7, 2, 9, 3, 14, 15, 26],
 [4, 2, 8, 3, 20, 12, 32, 23],
 [0, 0, 1, 4, 12, 10, 19, 20],
 [3, 4, 3, 4, 6, 9, 14, 20],
 [1, 6, 7, 9, 14, 17, 20, 30],
 [9, 9, 13, 15, 20, 23, 28, 39],
 [4, 3, 5, 7, 7, 13, 14, 25],
 [9, 4, 13, 4, 23, 7, 39, 19],
 [7, 4, 9, 8, 14, 18, 27, 34],
 [1, 3, 4, 7, 7, 16, 19, 23],
 [1, 1, 3, 3, 9, 4, 23, 16],
 [5, 4, 5, 7, 7, 14, 21, 19],
 [1, 6, 4, 8, 11, 10, 21, 17],
 [6, 3, 6, 4, 17, 6, 30, 15],
 [1, 6, 1, 10, 10, 17, 20, 28],
 [3, 4, 6, 8, 12, 20, 25, 35],
 [9, 9, 15, 13, 23, 26, 42, 42],
 [6, 4, 7, 4, 19, 10, 26, 23],
 [2, 3, 4, 3, 6, 11, 15, 25],
 [3, 2, 9, 2, 16, 9, 28, 22],
 [7, 5, 8, 6, 10, 7, 18, 22],
 [4, 0, 5, 4, 7, 7, 19, 19],
 [9, 6, 15, 9, 28, 17, 45, 33],
 [6, 6, 10, 12, 20, 22, 38, 42],
 [1, 1, 7, 2, 17, 8, 34, 23],
 [2, 7, 5, 11, 12, 17, 20, 30],
 [3, 9, 3, 10, 7, 20, 23, 41],
 [1, 4, 2, 7, 7, 20, 20, 37],
 [0, 5, 3, 5, 10, 8, 25, 20],
 [3, 7, 9, 10, 16, 13, 33, 21],
 [1, 7, 7, 7, 14, 17, 29, 27],
 [3, 4, 9, 6, 19, 9, 42, 18],
 [5, 9, 5, 15, 8, 28, 24, 48],
 [0, 2, 1, 5, 7, 12, 23, 20],
 [7, 2, 13, 6, 20, 7, 33, 22],
 [9, 3, 12, 6, 20, 15, 44, 33],
 [3, 5, 4, 6, 17, 8, 37, 25],
 [4, 4, 5, 4, 14, 9, 23, 23],
 [1, 0, 5, 1, 6, 4, 22, 23],
 [6, 2, 8, 3, 11, 7, 21, 23],
 [7, 3, 10, 6, 20, 10, 30, 28],
 [7, 9, 13, 13, 16, 22, 24, 36],
 [4, 0, 5, 6, 7, 19, 20, 42],
 [7, 1, 13, 4, 26, 14, 49, 29],
 [4, 9, 10, 10, 23, 13, 49, 24],
 [0, 6, 0, 10, 3, 19, 23, 36],
 [1, 7, 3, 13, 7, 20, 23, 33],
 [1, 6, 4, 7, 13, 17, 34, 40],
 [4, 7, 4, 13, 17, 21, 32, 45],
 [1, 4, 4, 6, 19, 12, 43, 24],
 [2, 2, 6, 6, 7, 8, 25, 21],
 [5, 9, 5, 13, 9, 18, 24, 27],
 [3, 3, 3, 5, 10, 9, 28, 25],
 [3, 3, 9, 5, 18, 9, 36, 26],
 [4, 3, 5, 3, 12, 9, 24, 28],
 [6, 7, 7, 8, 12, 12, 28, 27],
 [6, 1, 10, 7, 17, 20, 33, 49],
 [6, 3, 10, 3, 18, 6, 27, 26],
 [1, 1, 5, 4, 8, 10, 21, 34],
 [4, 4, 10, 8, 18, 9, 45, 28],
 [6, 4, 9, 4, 17, 19, 43, 46],
 [9, 6, 12, 7, 16, 17, 27, 35],
 [1, 6, 1, 6, 10, 12, 34, 28],
 [7, 3, 11, 3, 15, 5, 30, 26],
 [0, 1, 3, 7, 6, 18, 28, 37],
 [4, 7, 5, 10, 7, 17, 27, 44],
 [4, 7, 8, 13, 15, 17, 34, 28],
 [1, 2, 5, 8, 20, 18, 50, 46],
 [4, 4, 6, 7, 10, 12, 29, 27],
 [7, 4, 8, 5, 17, 10, 36, 24],
 [5, 6, 5, 12, 17, 20, 47, 30],
 [3, 1, 3, 4, 4, 7, 26, 29],
 [4, 4, 7, 5, 14, 20, 44, 53],
 [6, 7, 9, 8, 15, 17, 31, 50],
 [3, 7, 9, 10, 19, 17, 30, 39],
 [3, 7, 4, 7, 9, 10, 24, 30],
 [2, 0, 5, 1, 18, 10, 38, 34],
 [1, 9, 5, 13, 15, 15, 46, 33],
 [3, 2, 7, 8, 12, 15, 27, 35],
 [5, 7, 11, 8, 17, 13, 29, 32],
 [6, 1, 10, 1, 14, 7, 33, 29],
 [5, 4, 8, 10, 11, 15, 31, 32],
 [5, 4, 11, 5, 19, 17, 32, 49],
 [2, 4, 5, 10, 15, 14, 35, 47],
 [0, 3, 1, 6, 7, 7, 34, 29],
 [4, 4, 4, 5, 17, 10, 53, 25],
 [4, 3, 7, 6, 13, 19, 32, 30],
 [7, 6, 13, 7, 17, 12, 42, 30],
 [5, 5, 9, 5, 15, 18, 51, 41],
 [1, 4, 4, 8, 10, 18, 25, 32],
 [4, 4, 7, 8, 7, 11, 30, 31],
 [6, 1, 9, 1, 15, 5, 33, 35],
 [7, 6, 10, 10, 15, 16, 35, 35],
 [0, 6, 3, 7, 16, 17, 30, 56],
 [4, 3, 5, 9, 15, 14, 41, 33],
 [6, 1, 7, 2, 20, 15, 52, 35],
 [6, 6, 10, 10, 17, 14, 50, 42],
 [4, 7, 4, 11, 7, 15, 32, 54],
 [7, 0, 11, 6, 15, 14, 57, 33],
 [4, 6, 8, 9, 13, 14, 34, 33],
 [4, 3, 4, 4, 8, 7, 38, 32],
 [3, 6, 7, 8, 14, 17, 42, 44],
 [6, 7, 10, 10, 17, 17, 59, 38],
 [9, 9, 10, 10, 20, 19, 55, 53],
 [3, 4, 7, 4, 15, 7, 35, 30],
 [6, 0, 8, 3, 20, 13, 35, 30],
 [0, 1, 2, 4, 12, 9, 35, 25],
 [6, 9, 9, 12, 16, 17, 36, 62],
 [0, 4, 3, 4, 14, 5, 33, 38],
 [6, 4, 9, 8, 19, 21, 53, 36],
 [6, 3, 7, 7, 10, 12, 35, 34],
 [1, 3, 1, 4, 13, 12, 31, 38],
 [0, 9, 1, 12, 6, 20, 25, 58],
 [3, 3, 7, 6, 14, 12, 44, 35],
 [4, 9, 7, 13, 10, 18, 33, 60],
 [6, 3, 10, 9, 16, 17, 38, 45],
 [6, 6, 6, 10, 14, 19, 41, 41],
 [3, 0, 4, 0, 11, 13, 34, 33],
 [7, 6, 10, 12, 21, 19, 39, 39],
 [0, 3, 1, 9, 5, 16, 25, 53],
 [6, 4, 9, 7, 14, 12, 62, 45],
 [9, 1, 15, 1, 20, 10, 61, 31],
 [1, 6, 4, 9, 12, 13, 36, 38],
 [6, 6, 7, 10, 8, 18, 41, 60],
 [3, 6, 6, 10, 16, 13, 45, 36],
 [0, 1, 0, 4, 10, 11, 33, 36],
 [9, 9, 10, 9, 16, 14, 39, 44],
 [9, 9, 12, 15, 19, 20, 42, 64],
 [3, 1, 9, 7, 19, 17, 41, 54],
 [9, 6, 12, 12, 13, 16, 41, 65],
 [3, 3, 7, 3, 8, 16, 41, 45],
 [1, 1, 1, 1, 7, 6, 31, 26],
 [1, 4, 4, 7, 9, 18, 45, 39],
 [6, 3, 12, 6, 21, 14, 63, 37],
 [4, 3, 7, 4, 17, 7, 57, 34],
 [6, 3, 9, 6, 17, 7, 40, 41],
 [6, 1, 10, 1, 18, 10, 42, 34],
 [6, 1, 9, 4, 11, 9, 44, 45],
 [3, 9, 6, 12, 16, 16, 48, 44],
 [1, 6, 1, 9, 5, 18, 26, 42],
 [3, 9, 9, 12, 16, 19, 65, 42],
 [9, 3, 15, 6, 22, 16, 67, 41],
 [2, 3, 2, 9, 12, 20, 37, 63]]

In [201]:
df_bundesliga_with_form = pd.concat([bundesliga_21_22_df, pd.DataFrame(last_match_points, columns=["PointsLast3MatchesHT", "PointsLast3MatchesAT", "PointsLast5MatchesHT", "PointsLast5MatchesAT", "PointsLast10MatchesHT", "PointsLast10MatchesAT","PointsLastAllMatchesHT", "PointsLastAllMatchesAT"])], axis=1)

In [202]:
for i in [3, 5, 10, "All"]:
    df_bundesliga_with_form[f"PDiff{i}Matches"] = df_bundesliga_with_form.loc[:, f"PointsLast{i}MatchesHT"] - df_bundesliga_with_form.loc[:, f"PointsLast{i}MatchesAT"]
    df_bundesliga_with_form[f"PQuot{i}Matches"] = df_bundesliga_with_form.loc[:, f"PointsLast{i}MatchesHT"]/df_bundesliga_with_form.loc[:, f"PointsLast{i}MatchesAT"]

In [203]:
df_bundesliga_with_form

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PointsLastAllMatchesHT,PointsLastAllMatchesAT,PDiff3Matches,PQuot3Matches,PDiff5Matches,PQuot5Matches,PDiff10Matches,PQuot10Matches,PDiffAllMatches,PQuotAllMatches
0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,0,H,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,1,A,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,0,H,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,D1,12/08/06,Mainz,Bochum,2,1,H,1,0,H,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,0,D,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D1,19/05/07,Leverkusen,Dortmund,2,1,H,1,0,H,...,48,44,-6.0,0.333333,-6.0,0.500000,0.0,1.000000,4,1.090909
302,D1,19/05/07,M'gladbach,Bochum,0,2,A,0,1,A,...,26,42,-5.0,0.166667,-8.0,0.111111,-13.0,0.277778,-16,0.619048
303,D1,19/05/07,Schalke 04,Bielefeld,2,1,H,2,0,H,...,65,42,-6.0,0.333333,-3.0,0.750000,-3.0,0.842105,23,1.547619
304,D1,19/05/07,Stuttgart,Cottbus,2,1,H,1,1,D,...,67,41,6.0,3.000000,9.0,2.500000,6.0,1.375000,26,1.634146
305,D1,19/05/07,Wolfsburg,Werder Bremen,0,2,A,0,0,D,...,37,63,-1.0,0.666667,-7.0,0.222222,-8.0,0.600000,-26,0.587302

In [204]:
bundesliga_21_22_df.HomeTeam.unique()

array(['Bayern Munich', 'Hamburg', 'Leverkusen', 'Mainz', "M'gladbach",
       'Schalke 04', 'Stuttgart', 'Hannover', 'Wolfsburg', 'Nurnberg',
       'Aachen', 'Cottbus', 'Dortmund', 'Ein Frankfurt', 'Hertha',
       'Werder Bremen', 'Bielefeld', 'Bochum'], dtype=object)

In [205]:
market_values_bl

,club,Squad,Ã¸ age,Foreigners,Ã¸ market value,Total market value
0,Bayern Munich,30,26. Mai,16,â‚¬6.02m,180.73
1,Werder Bremen,33,24. Sep,14,â‚¬4.77m,157.25
2,Schalke 04,30,24. Jul,14,â‚¬3.55m,106.60
3,Hamburg,36,24. Sep,19,â‚¬2.83m,101.83
4,Stuttgart,32,25. Mrz,11,â‚¬3.03m,97.08
5,Dortmund,32,24.0,14,â‚¬2.49m,79.78
6,Leverkusen,28,25. Jan,14,â‚¬2.65m,74.08
7,Hertha,31,25. Apr,18,â‚¬2.14m,66.40
8,Nurnberg,31,25. Mai,20,â‚¬2.11m,65.45
9,Wolfsburg,30,26. Sep,21,â‚¬1.86m,55.90
10,Ein Frankfurt,30,25. Jun,12,â‚¬1.77m,52.95
11,M'gladbach,36,24. Jun,18,â‚¬1.27m,45.85
12,Hannover,32,26. Jan,15,â‚¬1.43m,45.85
13,Bochum,32,27. Feb,15,â‚¬1.28m,41.00
14,Mainz,34,25. Jun,16,â‚¬1.06m,36.03
15,Bielefeld,30,26. Jul,12,â‚¬1.19m,35.60
16,Alemannia Aachen,31,25. Jun,9,â‚¬862Th.,26.73
17,Cottbus,30,26. Apr,18,â‚¬885Th.,26.55

In [206]:
# add market values
# preprocess csv data with market values
market_values_bl = pd.read_csv(f"market_values_df\\market_values_bl_{season}.csv", delimiter=";")
map_team_names_dict = {'1. FC KÃ¶ln': 'FC Koln',
 '1.FC Union Berlin': 'Union Berlin',
 '1.FSV Mainz 05': 'Mainz',
 'Arminia Bielefeld': 'Bielefeld',
 'Bayer 04 Leverkusen': 'Leverkusen',
 'Bayern Munich': 'Bayern Munich',
 'Borussia Dortmund': 'Dortmund',
 'Borussia MÃ¶nchengladbach': "M'gladbach",
 'Eintracht Frankfurt': 'Ein Frankfurt',
 'FC Augsburg': 'Augsburg',
 'Hertha BSC': 'Hertha',
 'RB Leipzig': 'RB Leipzig',
 'SC Freiburg': 'Freiburg',
 'SpVgg Greuther FÃ¼rth': 'Greuther Furth',
 'TSG 1899 Hoffenheim': 'Hoffenheim',
 'VfB Stuttgart': 'Stuttgart',
 'VfL Bochum': 'Bochum',
 'VfL Wolfsburg': 'Wolfsburg',
 'SV Werder Bremen': "Werder Bremen", 
 'FC Schalke 04': "Schalke 04",
 'SC Paderborn 07': 'Paderborn',
 'Fortuna DÃ¼sseldorf': 'Fortuna Dusseldorf',
'1.FC Nuremberg': 'Nurnberg',
'Hannover 96': 'Hannover',
'Hamburger SV': 'Hamburg',
'SV Darmstadt 98': 'Darmstadt',
'FC Ingolstadt 04': 'Ingolstadt',
'Eintracht Braunschweig': 'Braunschweig',
'1.FC Kaiserslautern': 'Kaiserslautern',
'FC St. Pauli': 'St Pauli',
'FC Energie Cottbus': 'Cottbus',
'Karlsruher SC': 'Karlsruhe',
'FC Hansa Rostock': 'Hansa Rostock',
'MSV Duisburg': 'Duisburg',
'Alemannia Aachen': 'Aachen'
 }
market_values_bl.club = market_values_bl.club.replace(map_team_names_dict)
market_value_column_name = f"Total market value"
# market_value_column_name = f"Value Sep 15, 20{season}"
# market_value_column_name = f"Value Jul 10, 20{season}"
market_values_bl = market_values_bl.dropna(subset=['club'])
market_values_bl[market_value_column_name] = market_values_bl[market_value_column_name].apply(lambda x: float(re.search(r"\d+\.\d{2}", x).group()))
market_values_bl

,club,Squad,Ã¸ age,Foreigners,Ã¸ market value,Total market value
0,Bayern Munich,30,26. Mai,16,â‚¬6.02m,180.73
1,Werder Bremen,33,24. Sep,14,â‚¬4.77m,157.25
2,Schalke 04,30,24. Jul,14,â‚¬3.55m,106.60
3,Hamburg,36,24. Sep,19,â‚¬2.83m,101.83
4,Stuttgart,32,25. Mrz,11,â‚¬3.03m,97.08
5,Dortmund,32,24.0,14,â‚¬2.49m,79.78
6,Leverkusen,28,25. Jan,14,â‚¬2.65m,74.08
7,Hertha,31,25. Apr,18,â‚¬2.14m,66.40
8,Nurnberg,31,25. Mai,20,â‚¬2.11m,65.45
9,Wolfsburg,30,26. Sep,21,â‚¬1.86m,55.90
10,Ein Frankfurt,30,25. Jun,12,â‚¬1.77m,52.95
11,M'gladbach,36,24. Jun,18,â‚¬1.27m,45.85
12,Hannover,32,26. Jan,15,â‚¬1.43m,45.85
13,Bochum,32,27. Feb,15,â‚¬1.28m,41.00
14,Mainz,34,25. Jun,16,â‚¬1.06m,36.03
15,Bielefeld,30,26. Jul,12,â‚¬1.19m,35.60
16,Aachen,31,25. Jun,9,â‚¬862Th.,26.73
17,Cottbus,30,26. Apr,18,â‚¬885Th.,26.55

In [207]:
# add market values to df
# df_bundesliga_with_form['marketValueHT'] = market_values_bl[market_values_bl.club==df_bundesliga_with_form.HomeTeam]

In [208]:
market_values_bl[market_values_bl.club=='Bayern Munich']
rows.HomeTeam
rows.AwayTeam

'Werder Bremen'

In [209]:
# add market values to df
market_value_HT = []
market_value_AT = []
for index, rows in df_bundesliga_with_form.iterrows():
    mw_ht = market_values_bl[market_values_bl.club==rows.HomeTeam]
    market_value_HT.append(float(mw_ht[market_value_column_name]))
    mw_at = market_values_bl[market_values_bl.club==rows.AwayTeam]
    market_value_AT.append(float(mw_at[market_value_column_name]))

df_bundesliga_with_form["MarketValueHT"] = market_value_HT
df_bundesliga_with_form["MarketValueAT"] = market_value_AT
df_bundesliga_with_form["MarketValueDiff"] = df_bundesliga_with_form.loc[:, "MarketValueHT"] - df_bundesliga_with_form.loc[:, "MarketValueAT"]
df_bundesliga_with_form["MarketValueQuot"] = df_bundesliga_with_form.loc[:, "MarketValueHT"]/df_bundesliga_with_form.loc[:, "MarketValueAT"]

In [210]:
# save modified bl game information of one season in new file
df_bundesliga_with_form.to_csv(f'Data_BL_modified//bundesliga_data_modified_season_{season}.csv')

Neue Features mit dazunehmen
* wie Marktwert (am Anfang der Saison, beziehen von z.B. Transfermarkt; Alternativ MW der Startaufstellung, aber schwerer zu bekommen; sowohl absoluter MW als auch Durchschnitt kann verwendet werden)
* Direkter Vergleich der beiden Teams (vgl. Artikel Poisson Verteilung)
* Form der letzten Spiele? (kurzfristige Form im Vergleich zur ELO als langfristige Form)
* Tabellenplatz

# Informations about last Season
## primary qustion: How often wins a team?

In [211]:
# winning_team home/away
winning_team = bundesliga_21_22_df['FTR'].value_counts()
print(f"Gewinnchancen \nHome Team: {winning_team['H']/winning_team.sum()}")
print(f"Away Team: {winning_team['A']/winning_team.sum()}")
print(f"Draw: {winning_team['D']/winning_team.sum()}")

Gewinnchancen
Home Team: 0.43790849673202614
Away Team: 0.30392156862745096
Draw: 0.2581699346405229

In [212]:
# winning_team according to last matches
print(f"Gewinnchancen:")
winning_team = df_bundesliga_with_form[(df_bundesliga_with_form['FTR']=='H')&(df_bundesliga_with_form["PDiff3Matches"]>0)|(df_bundesliga_with_form['FTR']=='A')&(df_bundesliga_with_form["PDiff3Matches"]<0)]
print(f"Team mit der besseren Form in den vergangenen 3 Spielen: {len(winning_team)/len(df_bundesliga_with_form['PDiff3Matches'].dropna())}")
winning_team = df_bundesliga_with_form[(df_bundesliga_with_form['FTR']=='H')&(df_bundesliga_with_form["PDiff5Matches"]>0)|(df_bundesliga_with_form['FTR']=='A')&(df_bundesliga_with_form["PDiff5Matches"]<0)]
print(f"Team mit der besseren Form in den vergangenen 5 Spielen: {len(winning_team)/len(df_bundesliga_with_form['PDiff5Matches'].dropna())}")
winning_team = df_bundesliga_with_form[(df_bundesliga_with_form['FTR']=='H')&(df_bundesliga_with_form["PDiff10Matches"]>0)|(df_bundesliga_with_form['FTR']=='A')&(df_bundesliga_with_form["PDiff10Matches"]<0)]
print(f"Team mit der besseren Form in den vergangenen 10 Spielen: {len(winning_team)/len(df_bundesliga_with_form['PDiff10Matches'].dropna())}")
winning_team = df_bundesliga_with_form[(df_bundesliga_with_form['FTR']=='H')&(df_bundesliga_with_form["PDiffAllMatches"]>0)|(df_bundesliga_with_form['FTR']=='A')&(df_bundesliga_with_form["PDiffAllMatches"]<0)]
print(f"Team mit der besseren Tabellenplatzierung: {len(winning_team)/len(df_bundesliga_with_form['PDiffAllMatches'].dropna())}")

Gewinnchancen:
Team mit der besseren Form in den vergangenen 3 Spielen: 0.36200716845878134
Team mit der besseren Form in den vergangenen 5 Spielen: 0.41379310344827586
Team mit der besseren Form in den vergangenen 10 Spielen: 0.4212962962962963
Team mit der besseren Tabellenplatzierung: 0.38235294117647056

In [213]:
# winning_team according to market value
print(f"Gewinnchancen:")
winning_team = df_bundesliga_with_form[(df_bundesliga_with_form['FTR']=='H')&(df_bundesliga_with_form["MarketValueDiff"]>0)|(df_bundesliga_with_form['FTR']=='A')&(df_bundesliga_with_form["MarketValueDiff"]<0)]
print(f"Team mit dem hÃ¶heren Marktwert: {len(winning_team)/len(df_bundesliga_with_form['MarketValueDiff'].dropna())}")
print(f"Gewinnchancen Underdog:")
winning_team = df_bundesliga_with_form[(df_bundesliga_with_form['FTR']=='H')&(df_bundesliga_with_form["MarketValueDiff"]<0)|(df_bundesliga_with_form['FTR']=='A')&(df_bundesliga_with_form["MarketValueDiff"]>0)]
print(f"Team mit dem niedrigeren Marktwert: {len(winning_team)/len(df_bundesliga_with_form['MarketValueDiff'].dropna())}")

Gewinnchancen:
Team mit dem hÃ¶heren Marktwert: 0.4444444444444444
Gewinnchancen Underdog:
Team mit dem niedrigeren Marktwert: 0.2908496732026144