In [120]:
import pandas as pd
import numpy as np
import math
import csv

In [121]:
data = pd.read_csv('cumulated_data_bl1_v3_with_mw_and_form.csv', delimiter=',')
data.head()

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
# scale all data to real numbers, in the initial database all values are multiplied with 10
# df_numerics_only = data.select_dtypes(include=np.number)
# for column in df_numerics_only.columns:
#     data[column] = data[column]/10
# data

In [123]:
data

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,...,2.40,-0.50,1.86,2.04,1.87,2.04,1.90,2.06,1.87,2.00
4892,4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,...,4.07,-0.25,1.85,2.05,1.83,2.07,1.88,2.08,1.83,2.03
4893,4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,1,...,2.67,-0.25,1.92,1.98,1.98,1.94,2.03,2.00,1.96,1.91
4894,4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,2,...,2.49,-1.50,1.80,2.00,1.85,2.07,1.88,2.12,1.82,2.04
4895,4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,...,4.46,1.50,1.93,1.97,1.93,1.97,2.07,2.05,1.91,1.96

In [124]:
# data_1 = data.sort_values(by=['Date'], ascending=True)
data_1 = data
data_1

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,...,2.40,-0.50,1.86,2.04,1.87,2.04,1.90,2.06,1.87,2.00
4892,4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,...,4.07,-0.25,1.85,2.05,1.83,2.07,1.88,2.08,1.83,2.03
4893,4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,1,...,2.67,-0.25,1.92,1.98,1.98,1.94,2.03,2.00,1.96,1.91
4894,4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,2,...,2.49,-1.50,1.80,2.00,1.85,2.07,1.88,2.12,1.82,2.04
4895,4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,...,4.46,1.50,1.93,1.97,1.93,1.97,2.07,2.05,1.91,1.96

In [125]:
teams = []
for x in data_1['HomeTeam']:
    if x not in teams:
        teams.append(x)

# teams

In [126]:
# format = ['FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']
# for f in format:
#     z = 0
#     for x in data_1[f]:
#         x = str(x)
#         # print(len(x))
#         if len(x) >= 2:
#             # print(data_1[f][z])
#             data_1[f][z] = x[:-1]
#             # print(x)
#         z+=1
# data_1

In [127]:
data_1.head()

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
data_2 = data_1
data_2.head()

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
data_2['HomeElo'] = 1000
data_2['AwayElo'] = 1000
data_2['HomeAttack'] = 1.34
data_2['HomeDefend'] = 1.34
data_2['AwayAttack'] = 1.34
data_2['AwayDefend'] = 1.34
data_2['HomeAttackOld'] = 1.34
data_2['HomeDefendOld'] = 1.34
data_2['AwayAttackOld'] = 1.34
data_2['AwayDefendOld'] = 1.34
data_2['HomeEloOld'] = 1.34
data_2['AwayEloOld'] = 1.34
data_2.head()

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34,1.34

In [130]:
'''
elohome = 0
eloaway = 0
homeadvantage = 1

diffelo = elohome - eloaway + homeadvantage

outcomeexpected = 1/(1+10^(-diffelo/400))

if data_1.FTR == "H":
    outcometrue = 1
elif data_1.FTR == "D":
    outcometrue = 0.5
else:
    outcometrue = 0

diffgoal = int(data_1.FTHG - data_1.FTAG)

if diffgoal <= 1:
    marginofvictory = 1
else:
    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)

elogain = 20 * (outcometrue - outcomeexpected) * marginofvictory

elohome = elohome + elogain
eloaway = eloaway - elogain
'''

'\nelohome = 0\neloaway = 0\nhomeadvantage = 1\n\ndiffelo = elohome - eloaway + homeadvantage\n\noutcomeexpected = 1/(1+10^(-diffelo/400))\n\nif data_1.FTR == "H":\n    outcometrue = 1\nelif data_1.FTR == "D":\n    outcometrue = 0.5\nelse:\n    outcometrue = 0\n\ndiffgoal = int(data_1.FTHG - data_1.FTAG)\n\nif diffgoal <= 1:\n    marginofvictory = 1\nelse:\n    marginofvictory = (math.log2(1.7*diffgoal)*2)/(2+0.001*diffelo)\n\nelogain = 20 * (outcometrue - outcomeexpected) * marginofvictory\n\nelohome = elohome + elogain\neloaway = eloaway - elogain\n'

In [131]:
teams_elo_avstaerke = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'M\'gladbach': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

hometeam = data_1.HomeTeam[300]
homeelo = teams_elo_avstaerke[hometeam][0]
print(homeelo)
'''
awayteam = data_1.HomeTeam
awayelo = teams_elo_avstaerke[hometeam][0]'''

'''for i in teams_elo_avstaerke:
    print(list(teams_elo_avstaerke.items())[0][1][0])'''

0

'for i in teams_elo_avstaerke:\n    print(list(teams_elo_avstaerke.items())[0][1][0])'

In [132]:
# hometeam = data_1.HomeTeam[0]
# homeelo = teams_elo_avstaerke[hometeam][0]

# awayteam = data_1.AwayTeam[0]
# awayelo = teams_elo_avstaerke[hometeam][0]

def diffelo(homeelo, awayelo):
    # homeadvantage = 1
    diffelo = homeelo - awayelo
    return diffelo

# diffelo(homeelo, awayelo)

In [133]:
# def outcomeexpected():
#     elodiff = diffelo(homeelo, awayelo)
#     outcomeexpected = 1 / (1 + 10 ** (-elodiff / 400))
#     return outcomeexpected

# outcomeexpected()

In [134]:
# def outcometrue():
#     if data_1.FTR[0] == "H":
#         outcometrue = 1
#     elif data_1.FTR[0] == "D":
#         outcometrue = 0.5
#     else:
#         outcometrue = 0
#     return outcometrue

# outcometrue()

In [135]:
# def marginofvictory(homeelo, awayelo):
#     elodiff = diffelo(homeelo, awayelo)
#     diffgoal = data_1.FTHG[0] - data_1.FTAG[0]

#     if diffgoal <= 1:
#         marginofvictory = 1
#     else:
#         marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 + 0.001 * elodiff)
#     return marginofvictory
    
# marginofvictory(homeelo, awayelo)

In [136]:
# def elogain(homeelo, awayelo):
#     trueoutcome = outcometrue()
#     expectedoutcome = outcomeexpected()
#     ofvictorymargin = marginofvictory(homeelo, awayelo)

#     elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
#     elohome = homeelo + elogain
#     eloaway = awayelo - elogain
#     return elohome, eloaway

# elogain(homeelo, awayelo)

In [137]:
def elogain_2(z, hometeam, awayteam):
    homeelo = teams_elo_avstaerke[hometeam][0]
    awayelo = teams_elo_avstaerke[awayteam][0]

    trueoutcome = outcometrue_2(z)
    expectedoutcome = outcomeexpected_2(z, homeelo, awayelo)
    ofvictorymargin = marginofvictory_2(z, homeelo, awayelo)

    elogain = 20 * (trueoutcome - expectedoutcome) * ofvictorymargin
    elohome = homeelo + elogain
    eloaway = awayelo - elogain

    teams_elo_avstaerke[hometeam][0] = elohome
    teams_elo_avstaerke[awayteam][1] = eloaway

    return elohome, eloaway, homeelo, awayelo


def marginofvictory_2(z, homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    diffgoal = data_1.FTHG[z] - data_1.FTAG[z]

    if diffgoal <= 1:
        marginofvictory = 1
    else:
        marginofvictory = (math.log2(1.7 * diffgoal) * 2) / (2 +
                                                             0.001 * elodiff)
    return marginofvictory


def outcometrue_2(z):
    if data_1.FTR[z] == "H":
        outcometrue = 1
    elif data_1.FTR[z] == "D":
        outcometrue = 0.5
    else:
        outcometrue = 0
    return outcometrue


def outcomeexpected_2(z, homeelo, awayelo):
    elodiff = diffelo(homeelo, awayelo)
    outcomeexpected = 1 / (1 + 10**(-elodiff / 400))
    return outcomeexpected

In [138]:
alpha = 0.25
ratio = 0.75

# attack = attack + ((goalsshot - attack) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
# defend = defend - ((goalsgot + defend) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha

In [139]:
def home_attack(z, alpha, ratio, hometeam, awayteam):
    goalsshot = data_2.FTHG[z]
    attack_old = teams_elo_avstaerke[hometeam][2]
    otherteamdefend = teams_elo_avstaerke[awayteam][3]
    homeattack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    teams_elo_avstaerke[hometeam][2] = homeattack
    return homeattack, attack_old

def home_defend(z, alpha, ratio, hometeam, awayteam):
    goalsgot = data_2.FTAG[z]
    defend_old = teams_elo_avstaerke[hometeam][3]
    otherteamattack = teams_elo_avstaerke[awayteam][2]
    homedefend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    teams_elo_avstaerke[hometeam][3] = homedefend
    return homedefend, defend_old

In [140]:
# test1 = home_attack(alpha, ratio)
# test2 = home_defend(alpha, ratio)

# print(test1)
# print(test2)

In [141]:
def away_attack(z, alpha, ratio, hometeam , awayteam):
    goalsshot = data_2.FTAG[z]
    # attack_old = teams_elo_avstaerke[hometeam][2]
    # otherteamdefend = teams_elo_avstaerke[awayteam][3]
    
    attack_old = teams_elo_avstaerke[awayteam][2]
    otherteamdefend = teams_elo_avstaerke[hometeam][3]
    awayattack = attack_old + ((goalsshot - attack_old) * ratio + (goalsshot + otherteamdefend) * (1-ratio)) * alpha
    teams_elo_avstaerke[awayteam][2] = awayattack
    return awayattack, attack_old

def away_defend(z, alpha, ratio,hometeam, awayteam):
    goalsgot = data_2.FTHG[z]
    defend_old = teams_elo_avstaerke[awayteam][3]
    otherteamattack = teams_elo_avstaerke[hometeam][2]
    awaydefend = defend_old - ((goalsgot + defend_old) * ratio + (goalsgot - otherteamattack) * (1-ratio)) * alpha
    teams_elo_avstaerke[awayteam][3] = awaydefend
    return awaydefend, defend_old

In [142]:
# test1 = away_attack(alpha, ratio)
# test2 = away_defend(alpha, ratio)

# print(test1)
# print(test2)

In [143]:
z = 0
while z < len(data_1):
    alpha=0.5
    ratio=0.75
    hometeam = data_2.HomeTeam[z]
    awayteam = data_2.AwayTeam[z]

    try:

        homeelo, awayelo, homeeloold, awayeloold = elogain_2(z, hometeam, awayteam)
        homeattack1, homeattackold = home_attack(z, alpha, ratio, hometeam,
                                                awayteam)
        homedefend1, homedefendold = home_defend(z, alpha, ratio, hometeam, awayteam)
        awayattack1, awayattackold = away_attack(z, alpha, ratio, hometeam, awayteam)
        awaydefend1, awaydefendold = away_defend(z, alpha, ratio, hometeam,
                                                awayteam)
    except:
        print(f"Can't find data for team: {hometeam, awayteam}")
        break


    data_2['HomeElo'][z] = homeelo
    data_2['AwayElo'][z] = awayelo
    data_2['HomeAttack'][z] = homeattack1
    data_2['HomeDefend'][z] = homedefend1
    data_2['AwayAttack'][z] = awayattack1
    data_2['AwayDefend'][z] = awaydefend1
    data_2['HomeEloOld'][z] = homeeloold
    data_2['AwayEloOld'][z] = awayeloold
    data_2['HomeAttackOld'][z] = homeattackold
    data_2['HomeDefendOld'][z] = homedefendold
    data_2['AwayAttackOld'][z] = awayattackold
    data_2['AwayDefendOld'][z] = awaydefendold

    z+=1

C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeElo'][z] = homeelo
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayElo'][z] = awayelo
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeAttack'][z] = homeattack1
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeDefend'][z] = homedefend1
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayAttack'][z] = awayattack1
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayDefend'][z] = awaydefend1
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeEloOld'][z] = homeeloold
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayEloOld'][z] = awayeloold
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeAttackOld'][z] = homeattackold
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['HomeDefendOld'][z] = homedefendold
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayAttackOld'][z] = awayattackold
C:\Users\Phili\AppData\Local\Temp/ipykernel_49388/1242681434.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2['AwayDefendOld'][z] = awaydefendold

In [144]:
data_2

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,1,...,1.000000,0.000000,0.000000,-0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,0,...,0.500000,-0.500000,0.437500,-0.437500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,2,...,1.500000,0.000000,0.000000,-1.312500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,1,...,1.000000,-0.500000,0.437500,-0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,0,...,1.000000,0.000000,0.000000,-0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,1,...,2.001489,-1.884149,1.172358,-1.581157,1.868412,-1.545160,0.652603,-1.330148,849.372072,844.265646
4892,4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,3,...,3.347095,-1.133621,1.647127,-4.249006,2.048918,-1.426219,2.062127,-3.467829,877.665071,855.590835
4893,4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,1,...,1.491069,-1.100222,1.535998,-1.369941,0.963734,-1.335884,1.877641,-0.890119,734.655957,762.003692
4894,4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,2,...,2.870488,-1.234870,1.944127,-2.321089,2.570349,-0.727307,1.757577,-1.887840,746.240131,389.650242
4895,4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,1,...,1.994849,-1.248584,2.255671,-1.869960,1.949939,-0.849493,2.258790,-1.790906,825.333792,1118.372385

In [145]:
print(teams_elo_avstaerke)

{'Aachen': [-0.7925661985226218, -26.459661927610146, 0.4057074020823777, -3.7848645660481592], 'Augsburg': [779.7344353917406, 765.5512733229306, 1.03574204732573, -2.250258450824731], 'Bayern Munich': [1118.372385151334, 1111.496154555133, 2.2556710194694385, -1.8699603646841454], 'Bielefeld': [372.06570534400515, 353.1732057467355, 0.7677540162418675, -1.498910245837216], 'Bochum': [389.6502415802654, 387.3746374350495, 1.9441265979001083, -2.321088924593062], 'Braunschweig': [168.5822666594886, 163.6529519376669, 0.3272781352503197, -2.199429607014811], 'Cottbus': [152.24997041615995, 115.38992543339901, 1.4841568914833803, -0.6344240627631235], 'Darmstadt': [256.81003436087525, 265.5688302486311, 1.13277128318997, -1.6085070062273665], 'Dortmund': [1008.4489346961424, 1004.3538766155672, 2.7693666829961225, -1.843043030148038], 'Duisburg': [-10.627307206242095, -24.07636592262272, 1.737738104765847, -3.1074456185871475], 'Ein Frankfurt': [844.2656463424438, 844.412610495329, 1.1723579484841893, -1.5811565748483165], 'FC Koln': [762.0036918711194, 751.2181823851278, 1.5359980135856728, -1.3699409299177798], 'Fortuna Dusseldorf': [526.2917948833255, 484.77099083566213, 0.5547619499753567, -2.303106541704498], 'Freiburg': [852.8644658598141, 844.2186931303131, 1.9843410177583967, -2.806146442262115], 'Greuther Furth': [96.46377041123033, 96.07884584277039, 0.5375415526912493, -2.311458217046364], 'Hamburg': [595.8866490386865, 563.5129707386814, 1.421831640738564, -1.4740318461864352], 'Hannover': [607.66165564514, 593.4112351833222, 1.2989543845729814, -1.2592823634911052], 'Hansa Rostock': [23.614953104902142, 35.72186934034749, 1.0897829007095834, -1.9787665858312313], 'Hertha': [774.1930821943187, 769.9909931352809, 0.9116601753225957, -1.598584535853069], 'Hoffenheim': [855.5908354709342, 829.972950936137, 1.6471269382312108, -4.249006339603793], 'Ingolstadt': [326.06180403401873, 324.2613389832932, 0.8787833221122321, -1.2001119540251897], 'Kaiserslautern': [169.43823890861307, 166.05331038821757, 1.313280096761161, -2.956139872409733], 'Karlsruhe': [113.03501911188283, 85.86524255526012, 3.1491282026458975, -1.0022525576587573], 'Leverkusen': [908.8517457426733, 909.1838318450109, 2.3687118600461132, -0.7597741615252874], 'Mainz': [849.2251074980312, 857.4648187859257, 2.001488715127779, -1.8841494977885485], "M'gladbach": [903.2829551895244, 876.6785834016932, 3.3470950224395213, -1.13362094846843], 'Nurnberg': [479.1657130146006, 468.3159649103761, 0.30826500566922055, -3.8741829024495624], 'Paderborn': [221.9497991062289, 221.272250994133, 1.1928347135636337, -3.1099810577863867], 'RB Leipzig': [965.1223893009493, 955.7271253043915, 2.0069512097118967, -0.9634711793359987], 'Schalke 04': [688.872525247323, 677.6153442808683, 1.379933983849809, -2.304152293157863], 'St Pauli': [66.97141106947363, 61.68138380191688, 0.8979587782470704, -4.002013469970348], 'Stuttgart': [745.4414662191169, 742.7584189861988, 1.4910691050253186, -1.100222069590323], 'Union Berlin': [748.5157356264309, 759.5615304308348, 2.870487907295371, -1.23486972397991], 'Werder Bremen': [666.8163092162199, 655.9460035227156, 0.645946243145431, -2.867639601321339], 'Wolfsburg': [832.2100221071112, 833.7667439769971, 1.9948487217694886, -1.2485842779703886]}

In [146]:
teams_test = {
    'Aachen': [0, 0, 0, 0],
    'Augsburg': [0, 0, 0, 0],
    'Bayern Munich': [0, 0, 0, 0],
    'Bielefeld': [0, 0, 0, 0],
    'Bochum': [0, 0, 0, 0],
    'Braunschweig': [0, 0, 0, 0],
    'Cottbus': [0, 0, 0, 0],
    'Darmstadt': [0, 0, 0, 0],
    'Dortmund': [0, 0, 0, 0],
    'Duisburg': [0, 0, 0, 0],
    'Ein Frankfurt': [0, 0, 0, 0],
    'FC Koln': [0, 0, 0, 0],
    'Fortuna Dusseldorf': [0, 0, 0, 0],
    'Freiburg': [0, 0, 0, 0],
    'Greuther Furth': [0, 0, 0, 0],
    'Hamburg': [0, 0, 0, 0],
    'Hannover': [0, 0, 0, 0],
    'Hansa Rostock': [0, 0, 0, 0],
    'Hertha': [0, 0, 0, 0],
    'Hoffenheim': [0, 0, 0, 0],
    'Ingolstadt': [0, 0, 0, 0],
    'Kaiserslautern': [0, 0, 0, 0],
    'Karlsruhe': [0, 0, 0, 0],
    'Leverkusen': [0, 0, 0, 0],
    'Mainz': [0, 0, 0, 0],
    'Nurnberg': [0, 0, 0, 0],
    'Paderborn': [0, 0, 0, 0],
    'RB Leipzig': [0, 0, 0, 0],
    'Schalke 04': [0, 0, 0, 0],
    'St Pauli': [0, 0, 0, 0],
    'Stuttgart': [0, 0, 0, 0],
    'Union Berlin': [0, 0, 0, 0],
    'Werder Bremen': [0, 0, 0, 0],
    'Wolfsburg': [0, 0, 0, 0]
}

In [147]:
data_1 = data_1.dropna(subset=["HomeTeam", "AwayTeam", "B365H"])
data_1 = data_1.reset_index()

In [148]:
for x in range(len(data_1)):
    zaehler = 0
    for team in teams_test.keys():
        if team in data_1.loc[x,'HomeTeam']:
            zaehler += 1
            updated = {team: zaehler}
            teams_test.update(updated)

print(zaehler)
print(teams_test)

1
{'Aachen': 1, 'Augsburg': 1, 'Bayern Munich': 1, 'Bielefeld': 1, 'Bochum': 1, 'Braunschweig': 1, 'Cottbus': 1, 'Darmstadt': 1, 'Dortmund': 1, 'Duisburg': 1, 'Ein Frankfurt': 1, 'FC Koln': 1, 'Fortuna Dusseldorf': 1, 'Freiburg': 1, 'Greuther Furth': 1, 'Hamburg': 1, 'Hannover': 1, 'Hansa Rostock': 1, 'Hertha': 1, 'Hoffenheim': 1, 'Ingolstadt': 1, 'Kaiserslautern': 1, 'Karlsruhe': 1, 'Leverkusen': 1, 'Mainz': 1, 'Nurnberg': 1, 'Paderborn': 1, 'RB Leipzig': 1, 'Schalke 04': 1, 'St Pauli': 1, 'Stuttgart': 1, 'Union Berlin': 1, 'Werder Bremen': 1, 'Wolfsburg': 1}

In [149]:
aggregated = data_1.groupby(by='HomeTeam').sum()

for team in teams_test.keys():
    zaehler_home = 0
    zaehler_away = 0
    goals_home = aggregated['FTHG'][team]
    goals_away = aggregated['FTAG'][team]
    for x in range(len(data_1)):
        if team in data_1.loc[x, 'HomeTeam']:
            zaehler_home += 1
        if team in data_1.loc[x, 'AwayTeam']:
            zaehler_away += 1

        updated = {team: [zaehler_home, zaehler_away, goals_home, goals_away]}
        teams_test.update(updated)

print(teams_test)

{'Aachen': [17, 17, 28, 37], 'Augsburg': [187, 187, 266, 273], 'Bayern Munich': [272, 272, 777, 207], 'Bielefeld': [85, 85, 94, 114], 'Bochum': [85, 85, 117, 138], 'Braunschweig': [17, 17, 18, 24], 'Cottbus': [51, 51, 65, 69], 'Darmstadt': [34, 34, 33, 54], 'Dortmund': [272, 272, 617, 276], 'Duisburg': [17, 17, 19, 29], 'Ein Frankfurt': [255, 255, 396, 357], 'FC Koln': [187, 187, 240, 265], 'Fortuna Dusseldorf': [51, 51, 69, 84], 'Freiburg': [204, 204, 293, 273], 'Greuther Furth': [34, 34, 25, 69], 'Hamburg': [204, 204, 268, 245], 'Hannover': [204, 204, 316, 297], 'Hansa Rostock': [17, 17, 17, 21], 'Hertha': [238, 238, 314, 337], 'Hoffenheim': [238, 238, 415, 323], 'Ingolstadt': [34, 34, 43, 48], 'Kaiserslautern': [34, 34, 37, 47], 'Karlsruhe': [34, 34, 41, 44], 'Leverkusen': [272, 272, 523, 328], 'Mainz': [238, 238, 341, 292], 'Nurnberg': [136, 136, 171, 174], 'Paderborn': [34, 34, 42, 77], 'RB Leipzig': [102, 102, 213, 102], 'Schalke 04': [255, 255, 417, 281], 'St Pauli': [17, 17, 21, 35], 'Stuttgart': [238, 238, 383, 321], 'Union Berlin': [51, 51, 81, 55], 'Werder Bremen': [255, 255, 425, 371], 'Wolfsburg': [272, 272, 474, 354]}

In [150]:
data_1

,index,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,...,HomeAttack,HomeDefend,AwayAttack,AwayDefend,HomeAttackOld,HomeDefendOld,AwayAttackOld,AwayDefendOld,HomeEloOld,AwayEloOld
0,0,0,0,D1,11/08/06,Bayern Munich,Dortmund,2,0,H,...,1.000000,0.000000,0.000000,-0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,1,1,D1,12/08/06,Hamburg,Bielefeld,1,1,D,...,0.500000,-0.500000,0.437500,-0.437500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2,2,2,D1,12/08/06,Leverkusen,Aachen,3,0,H,...,1.500000,0.000000,0.000000,-1.312500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,3,3,3,D1,12/08/06,Mainz,Bochum,2,1,H,...,1.000000,-0.500000,0.437500,-0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,4,4,4,D1,12/08/06,M'gladbach,Cottbus,2,0,H,...,1.000000,0.000000,0.000000,-0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4891,4891,4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,...,2.001489,-1.884149,1.172358,-1.581157,1.868412,-1.545160,0.652603,-1.330148,849.372072,844.265646
4892,4892,4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,...,3.347095,-1.133621,1.647127,-4.249006,2.048918,-1.426219,2.062127,-3.467829,877.665071,855.590835
4893,4893,4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,...,1.491069,-1.100222,1.535998,-1.369941,0.963734,-1.335884,1.877641,-0.890119,734.655957,762.003692
4894,4894,4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,...,2.870488,-1.234870,1.944127,-2.321089,2.570349,-0.727307,1.757577,-1.887840,746.240131,389.650242
4895,4895,4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,...,1.994849,-1.248584,2.255671,-1.869960,1.949939,-0.849493,2.258790,-1.790906,825.333792,1118.372385

In [151]:
# get differences for a better compareability

data_1['DiffEloOld'] = data_1['HomeEloOld'] - data_1['AwayEloOld']
data_1['DiffAttackOld'] = data_1['HomeAttackOld'] - data_1['AwayAttackOld']
data_1['DiffDefendOld'] = data_1['HomeDefendOld'] - data_1['AwayDefendOld']
data_1['DiffElo'] = data_1['HomeElo'] - data_1['AwayElo']
data_1['DiffAttack'] = data_1['HomeAttack'] - data_1['AwayAttack']
data_1['DiffDefend'] = data_1['HomeDefend'] - data_1['AwayDefend']

In [152]:
# get quotient for better compareability

data_1['QuotEloOld'] = data_1['HomeEloOld'] / data_1['AwayEloOld']
data_1['QuotAttackOld'] = data_1['HomeAttackOld'] / data_1['AwayAttackOld']
data_1['QuotDefendOld'] = data_1['HomeDefendOld'] / data_1['AwayDefendOld']
data_1['QuotElo'] = data_1['HomeElo'] / data_1['AwayElo']
data_1['QuotAttack'] = data_1['HomeAttack'] / data_1['AwayAttack']
data_1['QuotDefend'] = data_1['HomeDefend'] / data_1['AwayDefend']

In [153]:
# elo_api = {
#     'Bayern Munich': 195421130371,
#     'RB Leipzig': 180803869629,
#     ' Dortmund': 179639416504,
#     'Leverkusen': 179144921875,
#     'Frankfurt': 173395397949,
#     'Union Berlin': 172752734375,
#     'Freiburg': 171513647461,
#     'Gladbach': 170800561523,
#     'Wolfsburg': 167846154785,
#     'Mainz': 167658898926,
#     'Koeln': 167578808594,
#     'Hoffenheim': 166018737793,
#     'Stuttgart': 161728076172,
#     'Augsburg': 161279321289,
#     'Bochum': 160994140625,
#     'Hertha': 160994140625,
#     'Bielefeld': 157295336914,
#     'Fuerth': 15066628418
# }

In [154]:
# data_1['FTHG']= data_1['FTHG'].map(str)
# data_1['FTAG'] = data_1['FTAG'].map(str)
# data_1['HTHG']= data_1['HTHG'].map(str)
# data_1['HTAG'] = data_1['HTAG'].map(str)
# data_1['HS'] = data_1['HS'].map(str)
# data_1['AS'] = data_1['AS'].map(str)
# data_1['HST'] = data_1['HST'].map(str)
# data_1['AST'] = data_1['AST'].map(str)
# data_1['HF']= data_1['HF'].map(str)
# data_1['AF'] = data_1['AF'].map(str)
# data_1['HC'] = data_1['HC'].map(str)
# data_1['AC'] = data_1['AC'].map(str)
# data_1['HY'] = data_1['HY'].map(str)
# data_1['AY'] = data_1['AY'].map(str)
# data_1['HR'] = data_1['HR'].map(str)
# data_1['AR'] = data_1['AR'].map(str)

In [155]:
# data_1.dtypes

In [156]:
# data_1['FTHG'] = data_1['FTHG'].str[:-1]
# data_1['FTAG'] = data_1['FTAG'].str[:-1]
# data_1['HTHG'] = data_1['HTHG'].str[:-1]
# data_1['HTAG'] = data_1['HTAG'].str[:-1]
# data_1['HS'] = data_1['HS'].str[:-1]
# data_1['AS'] = data_1['AS'].str[:-1]
# data_1['HST'] = data_1['HST'].str[:-1]
# data_1['AST'] = data_1['AST'].str[:-1]
# data_1['HF'] = data_1['HF'].str[:-1]
# data_1['AF'] = data_1['AF'].str[:-1]
# data_1['HC'] = data_1['HC'].str[:-1]
# data_1['AC'] = data_1['AC'].str[:-1]
# data_1['HY'] = data_1['HY'].str[:-1]
# data_1['AY'] = data_1['AY'].str[:-1]
# data_1['HR'] = data_1['HR'].str[:-1]
# data_1['AR'] = data_1['AR'].str[:-1]

In [157]:
data_1.to_csv("../Modelltraining/preprocessed_dataframe_with_elo_mw_form_3.csv")
data_1.tail(n=50)

,index,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,...,DiffDefendOld,DiffElo,DiffAttack,DiffDefend,QuotEloOld,QuotAttackOld,QuotDefendOld,QuotElo,QuotAttack,QuotDefend
4846,4846,4846,256,D1,09/04/2022,Wolfsburg,Bielefeld,4,0,H,...,-0.731834,441,2.149835,1.304807,2.225117,2.656382,1.439426,2.256410,-25.866876,0.531010
4847,4847,4847,257,D1,09/04/2022,Hertha,Union Berlin,1,4,A,...,-0.737602,24,-0.833000,-2.025025,1.063802,2.007536,1.568842,1.032345,0.589531,2.744399
4848,4848,4848,258,D1,10/04/2022,Bochum,Leverkusen,0,0,D,...,-0.726523,-502,-0.490081,-0.296082,0.417581,0.578922,2.051555,0.431484,0.542571,1.824393
4849,4849,4849,259,D1,10/04/2022,Ein Frankfurt,Freiburg,1,2,A,...,1.911116,-31,-1.131911,0.782078,0.985729,0.345932,0.069614,0.964490,0.307964,0.545530
4850,4850,4850,260,D1,10/04/2022,RB Leipzig,Hoffenheim,3,0,H,...,1.516369,101,2.856891,2.126033,1.071755,4.686666,0.237926,1.116763,8.104647,0.089978
4851,4851,4851,261,D1,16/04/2022,Augsburg,Hertha,0,1,A,...,2.477520,12,-0.674793,1.138773,1.044658,1.166228,0.222348,1.015444,0.412505,0.410561
4852,4852,4852,262,D1,16/04/2022,Dortmund,Wolfsburg,6,1,H,...,0.302978,244,2.192479,2.465062,1.276771,0.810797,0.794920,1.313222,2.311505,0.283480
4853,4853,4853,263,D1,16/04/2022,Freiburg,Bochum,3,0,H,...,-1.065622,487,2.202407,0.601604,2.263250,2.813736,2.626322,2.284960,10.255631,0.625047
4854,4854,4854,264,D1,16/04/2022,Mainz,Stuttgart,0,0,D,...,-0.218609,79,0.545013,-0.146796,1.114434,2.203855,1.116745,1.107629,2.465163,1.139050
4855,4855,4855,265,D1,16/04/2022,M'gladbach,FC Koln,1,3,A,...,0.709301,74,-0.857194,-0.537671,1.128719,1.095821,0.434949,1.094872,0.623480,1.485646
4856,4856,4856,266,D1,17/04/2022,Bielefeld,Bayern Munich,0,3,A,...,-2.686648,-760,-2.840332,-2.842974,0.318250,-0.030454,29.126822,0.317774,-0.022298,43.153539
4857,4857,4857,267,D1,17/04/2022,Hoffenheim,Greuther Furth,0,0,D,...,-0.680502,768,0.170092,-0.419779,9.140123,4.536808,1.410995,8.245283,-0.352755,1.407831
4858,4858,4858,268,D1,17/04/2022,Union Berlin,Ein Frankfurt,2,0,H,...,-0.222094,-62,1.919022,0.655278,0.868204,4.028858,1.236578,0.924113,9.271723,0.502771
4859,4859,4859,269,D1,17/04/2022,Leverkusen,RB Leipzig,0,1,A,...,-0.148941,-90,-1.853906,-0.266129,0.923596,0.328745,1.708530,0.907598,0.257619,6.221819
4860,4860,4860,270,D1,22/04/2022,Wolfsburg,Mainz,5,0,H,...,-2.237821,45,3.075843,0.791671,0.973923,1.823053,2.860969,1.057692,10.652015,0.719985
4861,4861,4861,271,D1,23/04/2022,Ein Frankfurt,Hoffenheim,2,2,D,...,0.131214,-30,0.163408,-0.032930,0.962884,5.230523,0.909449,0.965636,1.204143,1.018446
4862,4862,4862,272,D1,23/04/2022,FC Koln,Bielefeld,3,1,H,...,1.803293,419,2.247769,1.799428,2.167921,-36.748672,0.380401,2.193732,8.220160,0.400016
4863,4863,4863,273,D1,23/04/2022,Freiburg,M'gladbach,3,3,D,...,0.641923,12,0.676153,0.226178,1.014640,1.719255,0.609725,1.014052,1.315448,0.896036
4864,4864,4864,274,D1,23/04/2022,Greuther Furth,Leverkusen,1,4,A,...,-0.712201,-789,-1.699947,-1.912431,0.109362,-0.195446,3.246024,0.108475,0.183395,3.940113
4865,4865,4865,275,D1,23/04/2022,RB Leipzig,Union Berlin,1,2,A,...,0.611617,180,-0.271061,-0.096106,1.279102,1.160958,0.076919,1.233463,0.879476,1.144116
4866,4866,4866,276,D1,23/04/2022,Bayern Munich,Dortmund,3,1,H,...,0.907819,115,0.206842,1.661090,1.088008,0.719004,0.069154,1.113749,1.071135,0.034371
4867,4867,4867,277,D1,24/04/2022,Bochum,Augsburg,0,2,A,...,-0.811288,-411,-1.003607,-1.454027,0.483469,0.502222,2.022820,0.480405,0.047069,3.970155
4868,4868,4868,278,D1,24/04/2022,Hertha,Stuttgart,2,0,H,...,-0.876254,66,1.498542,0.300600,1.047295,3.087776,1.830017,1.092179,18.152492,0.794332
4869,4869,4869,279,D1,29/04/2022,Union Berlin,Greuther Furth,1,1,D,...,1.896023,640,0.955296,1.034577,7.826385,5.890913,0.260202,7.037736,2.516399,0.456529
4870,4870,4870,280,D1,30/04/2022,Augsburg,FC Koln,1,4,A,...,0.710151,-1,-2.342895,-0.862304,1.025275,0.411545,0.408058,0.998718,0.300872,1.767327
4871,4871,4871,281,D1,30/04/2022,Bielefeld,Hertha,1,1,D,...,-1.838147,-411,-0.669714,-1.019285,0.452825,0.196303,2.583275,0.468305,0.450679,1.881026
4872,4872,4872,282,D1,30/04/2022,Dortmund,Bochum,3,4,A,...,0.223356,605,1.427024,-0.738504,2.693038,58.656520,0.885079,2.516291,1.866246,1.316896
4873,4873,4873,283,D1,30/04/2022,Mainz,Bayern Munich,3,1,H,...,-2.768123,-241,-0.520119,-0.552227,0.722109,0.102317,47.817136,0.778899,0.764854,1.416624
4874,4874,4874,284,D1,30/04/2022,Stuttgart,Wolfsburg,1,1,D,...,0.574000,-88,-2.197770,0.745545,0.886954,0.025737,0.718016,0.892944,0.120162,0.570221
4875,4875,4875,285,D1,30/04/2022,Hoffenheim,Freiburg,3,4,A,...,0.164179,-12,-1.660240,-0.264512,1.009965,0.283888,0.915778,0.986301,0.514103,1.105857
4876,4876,4876,286,D1,02/05/2022,Leverkusen,Ein Frankfurt,2,0,H,...,1.167656,72,1.507154,1.591041,1.049447,2.159768,0.357767,1.086957,3.659723,0.152392
4877,4877,4877,287,D1,02/05/2022,M'gladbach,RB Leipzig,3,1,H,...,-1.412569,-50,1.209636,0.021352,0.897741,1.083682,2.851394,0.946063,1.788210,0.986932
4878,4878,4878,288,D1,06/05/2022,Bochum,Bielefeld,2,1,H,...,-0.154219,36,1.150149,0.252597,1.048205,2.998198,1.070866,1.101983,2.893476,0.881988
4879,4879,4879,289,D1,07/05/2022,FC Koln,Wolfsburg,0,1,A,...,0.610941,-71,-0.072298,-0.040626,0.933485,1.341580,0.647815,0.914766,0.962923,1.047824
4880,4880,4880,290,D1,07/05/2022,Freiburg,Union Berlin,1,4,A,...,-1.629706,93,-0.043448,-2.636270,1.160733,2.155373,2.875228,1.122530,0.983096,4.624701
4881,4881,4881,291,D1,07/05/2022,Greuther Furth,Dortmund,1,3,A,...,1.165290,-908,-2.623190,0.048840,0.096162,0.204911,0.620295,0.095618,0.162805,0.979255
4882,4882,4882,292,D1,07/05/2022,Hoffenheim,Leverkusen,2,4,A,...,-2.477234,-54,-0.800527,-2.546810,0.960412,0.847046,9.659977,0.940594,0.720355,3.765210
4883,4883,4883,293,D1,07/05/2022,Hertha,Mainz,1,2,A,...,0.720779,-83,-0.841147,0.033551,0.921017,0.720641,0.616139,0.903151,0.549807,0.978286
4884,4884,4884,294,D1,08/05/2022,Ein Frankfurt,M'gladbach,1,1,D,...,-0.264626,-32,-1.396315,0.096071,0.960821,0.206486,1.164112,0.963470,0.318511,0.932640
4885,4885,4885,295,D1,08/05/2022,Bayern Munich,Stuttgart,2,2,D,...,-0.336310,376,1.295056,-0.455023,1.533337,7.369156,1.339991,1.506739,2.343789,1.340616
4886,4886,4886,296,D1,08/05/2022,RB Leipzig,Augsburg,4,0,H,...,0.352258,200,2.192620,2.007332,1.220664,1.522068,0.822637,1.261438,5.230542,0.308398
4887,4887,4887,297,D1,14/05/2022,Augsburg,Greuther Furth,2,1,H,...,-0.596956,683,0.498200,0.061200,8.079194,1.016007,1.258929,8.114583,1.926813,0.973523
4888,4888,4888,298,D1,14/05/2022,Bielefeld,RB Leipzig,1,1,D,...,-1.245333,-583,-1.239197,-0.535439,0.375777,0.224068,2.391270,0.389529,0.382547,1.555740
4889,4889,4889,299,D1,14/05/2022,Dortmund,Hertha,2,1,H,...,-0.842713,239,1.857707,-0.244458,1.297153,3.050147,1.557494,1.310793,3.037718,1.152922
4890,4890,4890,300,D1,14/05/2022,Leverkusen,Freiburg,2,1,H,...,2.442558,64,0.384371,2.046372,1.055509,1.132872,0.273821,1.075829,1.193702,0.270754
4891,4891,4891,301,D1,14/05/2022,Mainz,Ein Frankfurt,2,2,D,...,-0.215011,5,0.829131,-0.302993,1.006048,2.863016,1.161645,1.005924,1.707233,1.191627
4892,4892,4892,302,D1,14/05/2022,M'gladbach,Hoffenheim,5,1,H,...,2.041610,74,1.699968,3.115385,1.025800,0.993594,0.411271,1.089264,2.032081,0.266797
4893,4893,4893,303,D1,14/05/2022,Stuttgart,FC Koln,2,1,H,...,-0.445764,-6,-0.044929,0.269719,0.964111,0.513269,1.500792,0.992011,0.970749,0.803116
4894,4894,4894,304,D1,14/05/2022,Union Berlin,Bochum,3,2,H,...,1.160533,361,0.926361,1.086219,1.915154,1.462439,0.385259,1.932817,1.476492,0.532022
4895,4895,4895,305,D1,14/05/2022,Wolfsburg,Bayern Munich,2,2,D,...,0.941413,-279,-0.260822,0.621376,0.737978,0.863267,0.474337,0.748875,0.884370,0.667706

In [158]:
data_1['B365H'].tail(n=50)

4846     1.66
4847     2.87
4848     4.00
4849     2.40
4850     1.50
4851     1.90
4852     1.53
4853     1.65
4854     2.05
4855     2.05
4856    13.00
4857     1.28
4858     2.15
4859     3.00
4860     2.30
4861     2.55
4862     1.53
4863     1.83
4864     8.50
4865     1.55
4866     1.36
4867     2.25
4868     3.10
4869     1.28
4870     2.80
4871     2.62
4872     1.36
4873     5.75
4874     2.05
4875     2.50
4876     1.40
4877     4.33
4878     2.15
4879     1.60
4880     1.90
4881     9.00
4882     3.20
4883     2.55
4884     2.30
4885     1.25
4886     1.25
4887     1.55
4888    10.00
4889     1.50
4890     2.40
4891     1.70
4892     2.00
4893     2.20
4894     1.40
4895     5.00
Name: B365H, dtype: float64

## How good are bookmarkes?

In [159]:
data_1["B365Prediction"] = data_1.apply(lambda x: 'H' if x.B365H < x.B365A and x.B365H < x.B365D else 'A' if x.B365A < x.B365D else 'D', axis=1)
data_1['BetTrue'] = data_1.B365Prediction.eq(data_1.FTR)
data_1.dropna(subset=['BetTrue', 'B365Prediction', 'FTR'])
accuracy_bet365 = data_1.BetTrue.value_counts()
data_1[['HomeTeam', 'AwayTeam', 'Date', 'B365Prediction', 'FTR', 'B365H', 'B365A', 'B365D']].head(n=20)

,HomeTeam,AwayTeam,Date,B365Prediction,FTR,B365H,B365A,B365D
0,Bayern Munich,Dortmund,11/08/06,H,H,1.57,6.00,3.60
1,Hamburg,Bielefeld,12/08/06,H,D,1.44,7.50,4.00
2,Leverkusen,Aachen,12/08/06,H,H,1.44,7.50,4.00
3,Mainz,Bochum,12/08/06,H,H,2.00,3.75,3.20
4,M'gladbach,Cottbus,12/08/06,H,H,1.61,5.50,3.60
5,Schalke 04,Ein Frankfurt,12/08/06,H,D,1.44,7.50,4.00
6,Stuttgart,Nurnberg,12/08/06,H,A,2.00,3.75,3.20
7,Hannover,Werder Bremen,13/08/06,A,A,4.00,1.90,3.25
8,Wolfsburg,Hertha,13/08/06,H,D,2.20,2.75,3.20
9,Nurnberg,M'gladbach,18/08/06,H,H,1.90,4.00,3.25
10,Aachen,Schalke 04,19/08/06,A,A,4.33,1.83,3.30
11,Cottbus,Hamburg,19/08/06,A,D,3.75,2.00,3.20
12,Dortmund,Mainz,19/08/06,H,D,1.61,5.50,3.60
13,Ein Frankfurt,Wolfsburg,19/08/06,H,D,2.00,3.75,3.20
14,Hertha,Hannover,19/08/06,H,H,1.83,4.33,3.30
15,Werder Bremen,Leverkusen,19/08/06,H,H,1.66,5.00,3.60
16,Bielefeld,Stuttgart,20/08/06,H,A,2.37,3.00,3.25
17,Bochum,Bayern Munich,20/08/06,A,A,5.50,1.57,3.80
18,Schalke 04,Werder Bremen,25/08/06,H,H,2.50,2.80,3.10
19,Bayern Munich,Nurnberg,26/08/06,H,D,1.40,7.50,4.33

In [160]:
print(f"Acc {round(accuracy_bet365[1]/(accuracy_bet365[0]+accuracy_bet365[1]), 10)}")
accuracy_bet365

Acc 0.5120506536

True     2507
False    2389
Name: BetTrue, dtype: int64

In [161]:
data_1["IWPrediction"] = data_1.apply(lambda x: 'H' if x.IWH < x.IWA and x.IWH < x.IWA else 'A' if x.IWH < x.IWD else 'D', axis=1)
data_1['BetTrueIW'] = data_1.IWPrediction.eq(data_1.FTR)
data_1.dropna(subset=['BetTrueIW', 'IWPrediction', 'FTR'])
accuracy_IW = data_1.BetTrueIW.value_counts()
data_1[['HomeTeam', 'AwayTeam', 'Date', 'IWPrediction', 'FTR', 'IWH', 'IWA', 'IWD']].head(n=20)

         HomeTeam       AwayTeam      Date IWPrediction FTR   IWH   IWA  IWD
0   Bayern Munich       Dortmund  11/08/06            H   H  1.55  5.00  3.7
1         Hamburg      Bielefeld  12/08/06            H   D  1.40  6.50  4.0
2      Leverkusen         Aachen  12/08/06            H   H  1.45  6.00  3.9
3           Mainz         Bochum  12/08/06            H   H  2.00  3.30  3.2
4      M'gladbach        Cottbus  12/08/06            H   H  1.60  4.80  3.6
5      Schalke 04  Ein Frankfurt  12/08/06            H   D  1.50  5.50  3.8
6       Stuttgart       Nurnberg  12/08/06            H   A  1.80  4.00  3.2
7        Hannover  Werder Bremen  13/08/06            D   A  3.60  1.90  3.2
8       Wolfsburg         Hertha  13/08/06            H   D  2.40  2.70  3.1
9        Nurnberg     M'gladbach  18/08/06            H   H  1.90  3.60  3.2
10         Aachen     Schalke 04  19/08/06            D   A  3.80  1.85  3.2
11        Cottbus        Hamburg  19/08/06            D   D  3.80  1.85  3.2
12       Dortmund          Mainz  19/08/06            H   D  1.55  5.00  3.7
13  Ein Frankfurt      Wolfsburg  19/08/06            H   D  2.00  3.30  3.2
14         Hertha       Hannover  19/08/06            H   H  1.80  4.00  3.2
15  Werder Bremen     Leverkusen  19/08/06            H   H  1.60  4.80  3.6
16      Bielefeld      Stuttgart  20/08/06            H   A  2.50  2.60  3.1
17         Bochum  Bayern Munich  20/08/06            D   A  4.80  1.60  3.6
18     Schalke 04  Werder Bremen  25/08/06            H   H  2.40  2.60  3.2
19  Bayern Munich       Nurnberg  26/08/06            H   D  1.35  7.50  4.2

In [162]:
print(f"Acc {round(accuracy_IW[1]/(accuracy_IW[0]+accuracy_IW[1]), 10)}")
accuracy_IW

Acc 0.4595588235

False    2646
True     2250
Name: BetTrueIW, dtype: int64